<!-- Footer -->

  <footer  class="page-footer font-small blue bg-dark" style="width: auto;position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;">

    
    
      <!-- Copyright -->
      <div class="footer-copyright">
      

        <div class="row">
          <div class="col-sm-4" >
            <!-- <div *ngIf='isLoggedIn==true'>
              <a (click)="openDialog()" class="btn btn-default mb">
                          <span class="glyphicon glyphicon-user"><i class="fas fa-key"></i></span> Izmena lozinke
                      </a>
            </div> -->
            
          </div>
          <div class="col-sm-4 text-muted" style="text-align: center;" >
            © 2020 Autor:
            <a class='text-muted' > Aleksandra Stanojevic</a></div>
          <div class="col-sm-4"></div>
        </div>
        
      </div>
      <!-- Copyright -->

      
    
    </footer>
    <!-- Footer -->


