<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar bg-dark">
    <div class="container">

        <!-- Brand -->
        <a href="shop" class="navbar-brand text-white naslov ">Honeyland <span class="iconify dark"
                data-icon="mdi-bee-flower" data-inline="false" style="color: dark;" data-width="30"
                data-height="30"></span></a>

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Left -->
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item active">
            <a class="nav-link waves-effect" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li> -->
                <!-- <li class="nav-item">
            <a class="nav-link waves-effect" href="https://mdbootstrap.com/docs/jquery/" target="_blank">About MDB</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="https://mdbootstrap.com/docs/jquery/getting-started/download/" target="_blank">Free download</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="https://mdbootstrap.com/education/bootstrap/" target="_blank">Free tutorials</a>
          </li> -->
            </ul>

            <!-- Right -->
            <ul class="navbar-nav nav-flex-icons ">

                <!-- 
                <li class="nav-item">
                    <a class="nav-link waves-effect">
                        <span class="badge red z-depth-1 mr-1 mb-1"> 1 </span>
                        <i class="fas fa-shopping-cart text-warning mr-1"></i>
                        <span class="clearfix d-none d-sm-inline-block text-warning"> Cart </span>
                    </a>
                </li> -->
                <!--        <li class="nav-item">
            <a href="https://twitter.com/MDBootstrap" class="nav-link waves-effect" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          </li> -->
                <li class="nav-item active">
                    <a class="nav-link waves-effect text-warning" href="http://localhost:4200/shop">Shop
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link waves-effect text-warning" href="http://localhost:4200/kupac">Events
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li *ngIf='role=="c"' class="nav-item active">
                    <a class="nav-link waves-effect text-warning" href="http://localhost:4200/history">History
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" (click)='logout()' class="nav-link" style='align-self: center;' data-toggle="modal"
                        data-target="#sign-out">
                        <div style="color: rgb(185, 55, 42);">Logout <i class="fas fa-sign-out-alt  fa-lg"></i></div>
                    </a>
                </li>
            </ul>

        </div>

    </div>
</nav>
<!-- Navbar -->

<div style="min-height: 100%;   background: linear-gradient(rgba(255, 184, 51, 0.3), rgba(255, 235, 58, 0.3)), url(/../assets/images/bck2.jpg); background-repeat: no-repeat;"
    class="page-holder bg-cover mt-5">

    <div class="container" style=" padding-top: 1cm;">
        <div *ngIf="myCart?.length == 0 && !prosledjena" class="alert alert-warning col-md-12" role="alert">
            You Cart is empty.
        </div>
        <div *ngIf="myCart?.length == 0 && prosledjena" class="alert alert-success col-md-12" role="alert">
            Your order has been processed successfully! Thank you.
        </div>

        <table class="table  bg-dark text-white" *ngIf='myCart.length>0'>
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Details</th>
                    <th>Order Info</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let temp of myCart'>
                    <td>
                        <div class="container">
                            <img src="{{temp.slikaShow}}" width="180" height="150">
                        </div>
                    </td>
                    <td>{{temp.naziv}}<br>
                        <!-- {{temp.proizvodjac}}<br> -->
                        {{temp.cena}}din</td>
                    <td>Quantity: {{temp.kolicina}} <br> Price: {{temp.kolicina* temp.cena}}din</td>
                    <td>
                        <button type="button" class="btn btn-warning" (click)='remove(temp)'><i
                                class="fas fa-trash-alt"></i>
                        </button>
                        <br>
                        <br>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Total: {{ukupanIznos}} din</td>
                    <td>
                        <button (click)='proslediPorudzbinu()' type='button'
                            class="btn btn-lg btn-warning">Order <i class="fas fa-cart-arrow-down"></i></button>
                    </td>
                </tr>


            </tbody>
        </table>
   

    </div>

</div>