.footer {
    position: fixed;
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(74, 45, 11);
    color: white;
    text-align: center;
  }

  #sticky-footer {
    flex-shrink: none;
  }