
      <router-outlet class='bg-dark' style="display: flex;"></router-outlet>

      

      <app-footer></app-footer>
 







<!-- footer -->
<!-- <footer id="sticky-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
        <div class="row border-top pt-3">
          <div class="col-lg-6 text-center">
            <a href="#" class="text-dark">CodeAndCreate</a>
          </div>
          <div class="col-lg-6 text-center">
            <p>&copy; 2018 Copyright. Made With <i class="fas fa-heart text-danger"></i> by <span class="text-success">CodeAndCreate</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer> -->
<!-- end of footer -->